@import 'bootstrap/dist/css/bootstrap.css';
@import 'allPosts.css';
@import 'myPosts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar > .container {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 10px;
  padding: 0px;
}

.navbar {
  margin: 0;
  padding: 10px;
}

.commentCard {
  width: 75%;
  padding-left: 10px; 
  display:flex;
  border-bottom: solid 1px black;
  padding: 6px;
  background-color: white;
}
.postCard {
  width: 75%;
  margin: 10px;
}

.postPubDate {
  position: absolute;
  top: 10px;
  right: 10px;
}

.postAuthor {
  position: absolute;
  margin: 5px;
  bottom: 10px;
  left: 10px;
}

.postAuthor:hover {
  color: blue;
  cursor: pointer;
}

.postCardButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 5px;
}

.reactionCount {
  position: absolute;
  bottom: 10px;
  right: 80px;
  margin: 5px;
}

.postCardImage {
  width: 40%;
  max-height: 500px;
  height: auto;
  margin: auto;
  display: block;
}

.commentForm {
  margin-top: 2px;
  width: 75%;
}

.commentSubmitButton {
  margin-bottom: 5px;
}

/* Profile Card */
.user-card{
  display: flex;
  flex-direction: row;
}
.user-card-left{
  width: 25%;
  display: flex;
  justify-content: center;
}
.user-card-right{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.user-profile-card-img{
  height: 300px;
  width: auto;
  object-fit: cover;
}
.user-card-email-date{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

/* */
.addButton {
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
}

.loginRegisterButtons {
  color: white;
}

.addIcon {
  background-color: white;
  margin-right: 20px;
}

.reactionContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
